*~
pkg
log
doc
coverage/
*.swp
*.swo
.*.swp
announcement.txt
version.txt
*.pid
tmp
*.html
stickler.gemspec
work/
scratch/
*.css
Gemfile
Gemfile.lock
.rvmrc
test/data/mirror
test/data/gemcutter
test/tmp
