<div id="header">
  <h1>Available Gems</h1>
</div>
<table class="gem" summary="This table is a list of the available gems.">
  <thead>
    <tr>
      <th>Gem name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
<% specs.sort_by { |spec| spec.full_name }.each_with_index do |spec, idx| %>
  <tr class="<%= %w[ red grey ][idx % 2]%>">
    <td><a href="/gems/<%= spec.file_name %>"><%= spec.name %></a></td>
    <td align="right"><%= spec.version %></td>
  </tr>
<% end %>
</table>
