<div id="header">
  <h1>Gems on <%= Socket.gethostname %></h1>
</div>
<div id="letterbox">
<ol>
  <%= specs_by_first_upcase_char.keys.sort.collect{ |k| "<li><a href=\"?char=#{k}\">#{k}</a></li>" }.join("") %>
</ol>
</div>
<div class="gem_list">
  <ol>
  <% specs_by_name.keys.sort.each do |name| %>
    <li><div class="gem">
        <h3><%= specs_by_name[name].first.name %></h3>
        <strong>Versions:<%= specs_by_name[name].sort_by{ |spec| spec.full_name }.collect{ |spec| "<a href=\"/gems/#{spec.file_name}\">#{spec.version_platform}</a>" }.reverse.join(" ") %></strong>
        </div>
    </li>
  <% end %>
  </ol>
</div>
